
<div class="score-table__container">
    <div class="score-table__header-row">
        <div></div>
        <div *ngFor='let round of roundArray'>{{round}}</div>
        <div>Total</div>
    </div>
    <div class="score-table__player-row" *ngFor='let item of UI'>
        <h2 class="score-table__player-name">{{ item.player }}</h2>
        <div class="score-table__scores">
            <div class="score-table__round-scores" >
                <div class="score-table__round-scores-wrapper" *ngFor='let element of item.scoresUI'>
                    <div>{{ element[0] }}</div>
                    <div *ngIf='element[0]!=="X"'>{{ element[1] }}</div>
                    <div *ngIf='element.length>2'>{{ element[2] }}</div>
                </div>
            </div>
            <div class="score-table__sumup-scores" >
                <div *ngFor='let element of item.roundPoints'>{{ element }}</div>
            </div>
        </div>
        <div class="score-table__final-score">{{ item.finalPoints}}</div>
    </div>
</div>


